
<!--MAIN CONTENT-->
 <div class="contributor-container">
     <h1 class="display-1 text-center text-black py-5" id="title">DJ Eli Contract</h1>
</div>

<!--TABLE-->
<div class = "container">
    <p>AGREEMENT made on  <b id ="contDate1"></b>
        by and between <span class ="name"></span>, hereinafter referred to as
        the Purchaser, and DJ Eli <b>(Olalekan Elijah Oyebobola)</b>, hereinafter referred to as the <b>DJ</b>.
    </p>

    <p>In consideration of the promises and the agreements herein contained and intending to be legally bound hereby, the Parties do agree as follows:

        <p> <b>1.</b> The Purchaser hereby engages the DJ to provide a DJ Service.  The service to be performed at:
            <h5>Event Address:	<span id ="address"></span> </h5>
        </p>

        <p><b>2.</b> DJ hereby agrees to provide a DJ Service for the Purchaser at the above-mentioned location.</p>

        <p><b>3.</b> The said DJ Service shall consist primarily of providing musical entertainment by means of a recorded music format.</p>

        <p><b>4.</b> DJ hereby agrees to render his professional services and will maintain control of his program at all times. </p>

        <p><b>5.</b> The Parties hereby agree that the DJ Service shall be provided and accepted on the following date(s) and time(s) of the engagement:
            <h5>Event Date:	<b id ="EveDate"></b> </h5>
            <h5>Start Time:	<span id ="start"></span> </h5>
            <h5>End Time:	<span id ="end"></span> </h5>
        </p>

        <p><b>6.</b> The Purchaser in consideration of the DJ Service to be rendered by the DJ, and the mutual promises contained herein, hereby agrees to pay to the DJ the following consideration: 
            <h6>A non-refundable reservation fee of <span id ="depo"></span> is required to secure the services of the DJ for the engagement. This amount shall be applied toward the Performance Fee.</h6>
            <h6><b>Note: The minimum fee for any event is $300</b></h6>
            <h6>The Performance Fee is <span id ="totAmt"></span> for the <span id ="hours"></span>time frame outlined above. The remaining balance of <span id ="balDue"></span> is to be paid by the purchaser at least one week prior to the date of the engagement. Services requested that exceed the time frame will be charged at the rate of <b>$60.00</b> per hour, payable the day of the engagement. It may not always be
            possible to provide additional performance time. However, when feasible, requests for
            extended playing time will be accommodated.</h6>

            <b> If needed, additional equipment fees:</b>
                <ul>
                    <li>Speaker/Subwoofer: $100 each</li>
                    <li>Wireless mic: $100 each</li>
                    <li>Disco light: $25 each</li>
                </ul>
        </p>

        <h4>Additional Terms and Conditions:</h4>
        <span><em><strong>
            <p>This agreement guarantees that the DJ will be ready to perform at the start time of the
            engagement. No guarantee is made as to the DJs time of arrival; however, the DJ requests that they be permitted 60 minutes before the engagement and 45 minutes after the engagement for setup and takedown. The DJ also requests ramp or elevator access
            between the parking/service entrance and the setup area. If Purchaser or venue requires the DJ to complete setup more than one hour before the start time, or to postpone takedown more than an hour after the end time indicated, the additional time will be charged at the rate of $75.00 per half-hour.</p>

            <p>The agreement of the DJ to perform is subject to proven detention by accidents, riots,
            strikes, epidemics, acts of God, or any other legitimate conditions beyond their control. If such circumstances arise, all reasonable efforts will be made by the DJ to find replacement entertainment at the agreed upon fees. Should the DJ be unable to procure a replacement, Purchaser shall receive a full refund. Purchaser agrees that in all circumstances, the DJ liability shall be exclusively limited to an amount equal to the performance fee and that the DJ shall not be liable for indirect or consequential damages arising from any breach of contract. All deposits are nonrefundable if cancelled within 30 days of the engagement unless the DJ cancels the engagement.</p>

            <p>The purchaser and the DJ agree that this contract is not subject to cancellation unless
            both parties have agreed to such cancellation in writing. In the event the Purchaser
            breaches the contract, he or she shall pay the DJ the amount set forth above as
            "Performance Fee.”</p>

            <p>It is hereby further agreed; that the Purchaser shall be held liable for any injury or damages to the DJ, or property of the DJ, while on the premises of said engagement, if damage is caused by Purchaser or guest, members of his organization, engagement invitees, employees, or any other party in attendance, whether invited or not.
            It is understood that if this is a "Rain or Shine" event, the DJ’s compensation is in no way affected by inclement weather. For outdoor performances, Purchaser shall provide
            overhead shelter for setup area. The DJ reserves the right, in good faith, to stop or cancel the performance should the weather pose a potential danger to him, the equipment, or audience. Every effort will be made to continue the performance. However, safety is paramount in all decisions. The DJ's compensation will not be affected by such cancellation. Purchaser shall provide the DJ with safe and appropriate working conditions. This includes a 6-foot by 6-foot area for setup, table, and space for setting up speakers.</p>

            <p>The DJ requires a minimum of one 15-20-amp circuit outlet from a reliable power source within 50 feet (along the wall) of the set-up area. This circuit must be free of all other connected loads. Any delay in the performance or damage to DJ's equipment due to improper power is the responsibility of the purchaser. Two circuits are preferred, where possible. The Purchaser shall at all times have complete control, direction and supervision of the performance of the DJ at this engagement and Purchaser expressly reserves the right to control the manner, means and details of the performance of the services of the DJ.</p> 

            <p>A written event/music planner or music request list must be received from the Purchaser and forwarded to the DJ at least one week prior to the date of the engagement for it to be included in the DJ’s programming guidelines. With or without the aid of an event/music planner or music request list, the DJ shall attempt to play Purchaser's and Purchaser's guests' music requests but shall not be held responsible if certain selections are unavailable. The DJ will make an extra effort to have music requests available if they are received IN WRITING at least one week prior to the engagement.</p>

            <p>In the event of non-payment, the DJ retains the right to attempt collection through the
            courts. Purchaser will be held responsible for all court fees, legal fees, and collection costs incurred by the DJ. Purchaser shall be charged $30 for each bounced check plus a $15.50 service charge for each collection notice.</p>

            <p>By executing this contract as Purchaser, the person executing said contract, either
            individually, or as an agent or representative, represents and warrants that he or she is
            eighteen (18) years of age, and further, if executing said contract as agent or
            representative, that he or she has the authority to enter into this agreement and should he or she not have such authority, he or she personally accepts and assumes full responsibility and liability under the terms of this contract.</p>

            <p>All attached riders are an integral part of this contract. This contract will supersede any
            other contract. If any part of this contract is illegal or unenforceable, the remaining
            provisions of this contract will remain valid and enforceable to both parties. This contract
            contains the entire agreement between the parties and no statement, promises, or
            inducements made by any party hereto, or agent or representative or either party hereto, which are not contained in this written contract, shall be valid or binding. This contract shall not be enlarged, modified, or altered except in writing by both parties and endorsed hereon.</p>

            <p>The laws of the State of California shall govern this agreement. In the event of suit involving or relating to this agreement, Purchaser agrees the suit venue will be in Los Angeles County.</p>

            <p>This agreement is not binding until signed by both Purchaser and the DJ, and the DJ has received it. Any changes must be written and signed by both the Purchaser and the DJ. Oral agreements are non-binding. If any clause in this agreement is found to be illegal, the rest of the agreement shall remain in force.</p>

            <p>THE PARTIES hereto promise to abide by the terms of this agreement and intend to be
            legally bound thereby</p>
        </strong></em></span>


        <div class="signature">
            <form>
                <h3>DJ's Signature:</h3>
                <h6>Initials:</h6>
                <Output type="text" name="name" class="form-control form-control-sm mb-3" ><b>O.E.O</b></Output>
                <h6>Date:</h6>	
                <output id ="contDate2" class="form-control form-control-sm mb-3"></output>
                <h6>Name:</h6>	
                <Output type="text" name="name" class="form-control form-control-sm mb-3" ><b>Olalekan Elijah Oyebobola</b></Output>
            </form>
        </div>

        <div class="signature">
            <form>
                <h3>Purchaser's Signature:</h3>
                <h6>Initials:</h6>
                <input type="text" name="name" class="form-control form-control-sm mb-3" placeholder="Your initials here">
                <h6>Date:</h6>	
                <output id ="contDate3" class="form-control form-control-sm mb-3"></output>
                <h6>Name:</h6>	
                <Output type="text" name="name" class="form-control form-control-sm mb-3" ><b class ="name"></b></Output>
            </form>
        </div>

            
    </p>
    
</div>


